/* This file is for your main application css. */

@import "./phoenix.css";

body, html { margin: 0; padding: 0; }

.site-header {
  width: 100%;
  background: #fdfdfd;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 2rem;

  .site-header__container {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
  }
}

.site-title {
  font-size: 3rem;
}

.site-nav {
  display: flex;

  .site-nav__item {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
  }
  .site-nav__item:last-child {
    margin-right: initial;
  }
  .site-nav__item:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.page-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 2.5rem;

  .page-header__title {
    margin-bottom: 0;
  }

  .page-header__subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
    margin: 0;
  }

  .page-header__actions {
    margin-left: auto;
    display: flex;
  }

  .page-header__actions > * {
    margin-right: 1em;
    &:last-child { margin-right: 0; }
  }

  .page-header__back-link {
    position: absolute;
    left: -10px;
    top: -4px;
    display: block;
    font-size: 32px;
    color: #666;

    &:hover { color: black; }
  }
}

.label {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.8);
}

.inline-form {
  label, input {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  .toggle {
    border-bottom: 1px dashed black;
    cursor: pointer;
  }

  input[type="submit"],
  button[type="submit"] {
    @extend .small-button;
  }
}

.mobile-form {
  @extend .inline-form;

  input[type="range"] {
    width: 100%;
    margin: 1em 0;
  }
}

.small-button {
  padding: 0.5em 1.5em;
  background: white;
  color: #0060d9;
  border: 1px solid #0060d9;
  margin: 0;
  margin-left: 0.5em;
  line-height: normal;
  height: auto;

  &:hover {
    background: #f5faff;
    color: #0060d9;
    border: 1px solid #0060d9;
  }
}

.wide-button {
  @extend .small-button;
  display: block;
  margin: 1em 0;
  padding: 1em;
  width: 100%;
}

.pop-up {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: white;
  z-index: 1;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0.5em;
  top: calc(100% + 10px);
  left: -50px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);

  .label {
    font-weight: 600;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
  }
}

._relative {
  position: relative;
}

._showable:not(._active) {
  display: none;
}

._mobile-hidden {
  @media (max-width: 640px) {
    display: none !important;
  }
}

._mobile-only {
  display: none !important;
  @media (max-width: 640px) {
    display: initial !important;
  }
}

.flex-row {
  display: flex;

  .flex-row__pull-right {
    margin-left: auto !important;
  }
}

.status-text {
  text-transform: uppercase;
  color: #999;
  font-size: 0.9em;
  font-weight: 600;
}

.status-map {
  margin-bottom: 2rem;

  .status-map__canvas {
    width: 100%;
    height: 100px;
    border: 1px solid #aaa;
  }

  .status-map__labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    font-weight: 500;
  }
}

.big-text {
  font-size: 1.5em;

  code {
    font-size: inherit;
  }
}

.info-text {
  font-size: 0.8em;
  color: #666;
}
