/* This file is for your main application css. */

@import "./phoenix.css";

body, html { margin: 0; padding: 0; }

.site-header {
  width: 100%;
  background: #fdfdfd;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 2rem;

  .site-header__container {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
  }
}

.site-title {
  font-size: 3rem;
}

.site-nav {
  display: flex;

  .site-nav__item {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
  }
  .site-nav__item:last-child {
    margin-right: initial;
  }
  .site-nav__item:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.page-header {
  display: flex;
  align-items: baseline;

  .page-header__title {
    margin-bottom: 0;
  }

  .page-header__subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
  }

  .page-header__actions {
    margin-left: auto;
    display: flex;
  }

  .page-header__actions > * {
    margin-right: 1em;
    &:last-child { margin-right: 0; }
  }

  .page-header__back-link {
    position: absolute;
    left: -10px;
    top: -4px;
    display: block;
    font-size: 32px;
    color: #666;

    &:hover { color: black; }
  }
}

.label {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.8);
}

.inline-form {
  label, input {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  .toggle {
    border-bottom: 1px dashed black;
    cursor: pointer;
  }

  input[type="submit"],
  button[type="submit"] {
    @extend .small-button;
  }
}

.small-button {
  padding: 0.5em;
  background: white;
  color: #0060d9;
  border: 1px solid #0060d9;
  margin: 0;
  margin-left: 0.5em;
  line-height: normal;
  height: auto;

  &:hover {
    background: #f5faff;
    color: #0060d9;
    border: 1px solid #0060d9;
  }
}

.pop-up {
  position: absolute;
  background: white;
  z-index: 1;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0.5em;
  top: calc(100% + 10px);
  left: -50px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

._relative {
  position: relative;
}

._showable {
  display: none;

  &._active {
    display: initial;
  }
}
